# Introduction

In this project we will use india's export forecast with different countries.

# Connection

In [2]:
%load_ext sql
import pandas as pd
%sql postgresql://postgres:2003@localhost/Export_data
%sql SELECT * FROM export_ind LIMIT 5;

 * postgresql://postgres:***@localhost/Export_data
5 rows affected.

[(2, 'MEAT AND EDIBLE MEAT OFFAL.', Decimal('1.40'), 'AFGHANISTAN', 2010),
 (3, 'FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.', Decimal('0.08'), 'AFGHANISTAN', 2010),
 (4, "DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR INCLUDED.", Decimal('3.89'), 'AFGHANISTAN', 2010),
 (5, 'PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED.', None, 'AFGHANISTAN', 2010),
 (6, 'LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.', None, 'AFGHANISTAN', 2010)]

# Number of Countries in dataset
Note: There are different regions of same country so count is 249 as there are not 249 countries in world.

In [9]:
%sql SELECT COUNT(DISTINCT country) FROM export_ind;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(249,)]

# Number of Distinct Commodities

In [10]:
%sql SELECT COUNT(DISTINCT commodity) FROM export_ind;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(98,)]

In [12]:
%sql SELECT DISTINCT commodity FROM export_ind LIMIT 10;

 * postgresql://postgres:***@localhost/Export_data
10 rows affected.

[('AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.',),
 ('RUBBER AND ARTICLES THEREOF.',),
 ('MISCELLANEOUS GOODS.',),
 ('MEAT AND EDIBLE MEAT OFFAL.',),
 ('PREPARED FEATHERS AND DOWN AND ARTICLES MADE OF FEATHERS OR OF DOWN; ARTIFICIAL FLOWERS; ARTICLES OF HUMAN HAIR.',),
 ('SHIPS, BOATS AND FLOATING STRUCTURES.',),
 ('ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.',),
 ('MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.',),
 ('COFFEE, TEA, MATE AND SPICES.',),
 ('OTHER VEGETABLE TEXTILE FIBRES; PAPER YARN AND WOVEN FABRICS OF PAPER YARN.',)]

# Total export of india in year 2021 in million US$

In [13]:
%sql SELECT SUM(value) FROM export_ind WHERE year=2021;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('421984.37'),)]

# COMPARING EXPORT TO USA IN 2010 Vs 2021;

In [16]:
%sql SELECT SUM(value) FROM export_ind WHERE (year = 2010) AND (country = 'U S A');

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('25291.56'),)]

In [17]:
%sql SELECT SUM(value) FROM export_ind WHERE (year=2021) AND (country='U S A');

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('76166.63'),)]

# Largest Exporter of India in 2021

In [20]:
%sql SELECT country, commodity FROM export_ind WHERE year = 2021 AND value = (SELECT MAX(value) FROM export_ind WHERE year = 2021);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('U S A', 'NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.')]

# Largest Exporter of India in 2010

In [21]:
%sql SELECT country,commodity FROM export_ind WHERE year=2010 AND value=(SELECT MAX(value) FROM export_ind WHERE year=2010);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('U ARAB EMTS', 'NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.')]

# Most Valued Product India exported to USA the most in 2021

In [22]:
%sql SELECT commodity FROM export_ind WHERE year=2021 AND value=(SELECT MAX(value) FROM export_ind WHERE year=2021);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.',)]

# Import data of India

In [23]:
%sql SELECT * FROM import_ind LIMIT 5;

 * postgresql://postgres:***@localhost/Export_data
5 rows affected.

[(7, 'EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.', Decimal('9.14'), 'AFGHANISTAN', 2010),
 (8, 'EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR MELONS.', Decimal('93.82'), 'AFGHANISTAN', 2010),
 (9, 'COFFEE, TEA, MATE AND SPICES.', Decimal('2.54'), 'AFGHANISTAN', 2010),
 (12, 'OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEEDS AND FRUIT; INDUSTRIAL OR MEDICINAL PLANTS; STRAW AND FODDER.', Decimal('0.32'), 'AFGHANISTAN', 2010),
 (13, 'LAC; GUMS, RESINS AND OTHER VEGETABLE SAPS AND EXTRACTS.', Decimal('37.67'), 'AFGHANISTAN', 2010)]

# Number of Countries in dataset

In [25]:
%sql SELECT COUNT(DISTINCT country) FROM import_ind;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(243,)]

# India's Largest Importer in 2010 Vs 2021

In [29]:
%sql SELECT country,commodity FROM import_ind WHERE year=2010 AND value=(SELECT MAX(value) FROM import_ind WHERE year=2010);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('SWITZERLAND', 'NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.')]

In [30]:
%sql SELECT country,commodity FROM import_ind WHERE year=2021 AND value=(SELECT MAX(value) FROM import_ind WHERE year=2021);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('IRAQ', 'MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.')]

# Commodities India import

In [31]:
%sql SELECT DISTINCT commodity FROM import_ind LIMIT 10;

 * postgresql://postgres:***@localhost/Export_data
10 rows affected.

[('AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.',),
 ('RUBBER AND ARTICLES THEREOF.',),
 ('MISCELLANEOUS GOODS.',),
 ('MEAT AND EDIBLE MEAT OFFAL.',),
 ('PREPARED FEATHERS AND DOWN AND ARTICLES MADE OF FEATHERS OR OF DOWN; ARTIFICIAL FLOWERS; ARTICLES OF HUMAN HAIR.',),
 ('SHIPS, BOATS AND FLOATING STRUCTURES.',),
 ('ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.',),
 ('MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.',),
 ('COFFEE, TEA, MATE AND SPICES.',),
 ('OTHER VEGETABLE TEXTILE FIBRES; PAPER YARN AND WOVEN FABRICS OF PAPER YARN.',)]

# Total import in 2010 vs 2021

In [32]:
%sql SELECT SUM(value) FROM import_ind WHERE year=2010;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('369762.25'),)]

In [33]:
%sql SELECT SUM(value) FROM import_ind WHERE year=2021;

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('613045.41'),)]

# Most Valued Commodity India imported the most from USA in 2010 Vs 2021

In [34]:
%sql SELECT commodity FROM import_ind WHERE year=2010 AND value=(SELECT MAX(value) FROM import_ind WHERE year=2010);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.',)]

In [35]:
%sql SELECT commodity FROM import_ind WHERE year=2021 AND value=(SELECT MAX(value) FROM import_ind WHERE year=2021);

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[('MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.',)]

# India's total import from USA in 2021 Vs 2010

In [37]:
%sql SELECT SUM(value) FROM import_ind WHERE year=2021 AND (country='U S A');

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('43313.75'),)]

In [38]:
%sql SELECT SUM(value) FROM import_ind WHERE year=2010 AND (country='U S A');

 * postgresql://postgres:***@localhost/Export_data
1 rows affected.

[(Decimal('20050.41'),)]

# END